body { line-height: 1.8;

    margin: 0;

    background: linear-gradient(
to bottom,
#0a0a0a,
#111827,
#000000
);

    color: white;

    font-family: Georgia, serif;

    transition: 0.4s;

}

/* TOP BAR */

.top-bar {

    display: flex;

    justify-content: space-between;

    padding: 20px;

}

/* MENU */

.menu-icon {

    font-size: 32px;

    cursor: pointer;

}

/* MOON */

.moon {

    font-size: 30px;

    cursor: pointer;

}

/* SIDE MENU */

.side-menu {

    position: fixed;

    top: 0;

    left: -250px;

    width: 220px;

    height: 100%;

    background: #111;

    transition: 0.4s;

    padding-top: 80px;

}

/* LINKS */

.side-menu a {

    display: block;

    color: white;

    text-decoration: none;

    padding: 18px;

    font-size: 20px;

}

/* CONTENT */

.content {

    padding: 40px;

    max-width: 800px;

    margin: auto;

}

/* TITLE */

h1 {

    font-size: clamp(42px, 8vw, 72px);

    text-align: center;

    margin-top: 40px;

    letter-spacing: 2px;

    font-weight: bold;

    color: white;

    text-shadow:
    0px 0px 10px rgba(255,255,255,0.2);

}
h2 {

    font-size: clamp(24px, 5vw, 34px);

    margin-top: 40px;

}

/* SUBTITLE */

.subtitle {

    font-size: clamp(16px, 3vw, 24px);

}

/* PHOTO */

.profile-photo {

    width: 190px;

    border-radius: 50%;

    display: block;

    margin: 40px auto;

    border: 3px solid white;

    box-shadow:
    0px 0px 20px rgba(255,255,255,0.2);

}

/* LIGHT MODE */

.light-mode {

    background-color: white;

    color: black;

}

.light-mode .side-menu {

    background: #ddd;

}

.light-mode .side-menu a {

    color: black;

}
.socials {

    margin-top: 40px;

}

.socials a {

    font-size: 40px;

    text-decoration: none;

    margin-right: 25px;

}

.subtitle {

    text-align: center;

    font-size: 22px;

    margin-top: 10px;

    color: #d1d5db;

}

.home-art {

    text-align: center;

    font-size: 70px;

    margin-top: 40px;

    color: #60a5fa;

    text-shadow:
    0px 0px 20px rgba(96,165,250,0.5);

}

.intro {

    text-align: center;

    max-width: 700px;

    margin: 40px auto;

    font-size: 20px;

    line-height: 1.9;

    color: #e5e7eb;

}
.socials {

    text-align: center;

    margin-top: 60px;

}

.socials a {

    color: white;

    font-size: 42px;

    margin: 20px;

    transition: 0.3s;

}

.socials a:hover {

    color: #60a5fa;

}
